# Konfigurasi Server HTTP
PORT=8080
SERVER_SECRET_KEY=rahasia_server_anda_123

# Konfigurasi MinIO / S3 Storage
NEO_ENDPOINT=127.0.0.1:9000
NEO_ACCESS_KEY=ROOTUSER
NEO_SECRET_KEY=CHANGEME123
NEO_USE_SSL=false
NEO_BUCKET=my-bucket

# Konfigurasi Rate Limit
RATE_LIMIT_RPS=5
RATE_LIMIT_BURST=10